---
// Header component
---

<header>
  <nav>
    <a href="/" class="logo"><img src="/img/logo.png" alt="Doclify.cloud" height="75"></a>

    <ul class="nav-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/fonctionnalites">Fonctionnalités</a></li>
      <li><a href="/tarifs">Tarifs</a></li>
      <li><a href="/application">Applications</a></li>
      <li><a href="/materiel">Matériel</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://my.doclify.cloud/web/login" class="btn-login">Connexion</a></li>
    </ul>

    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
